html, body {
         font-size:12pt;
         background:#EEF2FF;
         color:#000000;
}
a       {
        background:inherit;
        color:#34345C;
        text-decoration:none;
        font-family:sans-serif;
	font-size:10pt;
}
a:visited {
        background:inherit;
        color:#34345C;
        text-decoration:none;
        font-family:sans-serif;
}
a:hover {
        color:#DD0000;
        background:inherit;
        text-decoration:underline;
        font-family:sans-serif;
}
.adminbar {
        text-align:right;
        background:inherit;
        clear:both;
        float:right;
}
.logo {
        clear:both;
        text-align:center;
        background:inherit;
        font-size:24pt;
        color:#AF0A0F;
        width:100%;
}
.sublogo {
	clear:both;
	text-align:center;
	width:100%;
	padding: 1px 0px 13px 0px;
}
.sublogo a {
	font-size:12pt;
	font-family:serif;
/*	color:#AF0A0F;*/
}
.banner {
	margin-top: 10px;
}
.theader {
        background:#0010E0;
        color:#FFFFFF;
        width:100%;
}
.postarea {
        background:inherit;
}
.postblock {
        background:#9988EE;
        color:#000000;
        font-weight:800;
}
.footer {
        text-align:center;
        font-size:10px;
        font-family:sans-serif;
	clear: both;
	padding-top: 10px;
}
.footer a {
	font-size:10px;
}
.passvalid {
	background:#9988EE;
	text-align:center;
	width:100%;
	color:#ffffff;
}
.dellist {
	background:inherit;
	text-align:center;
}
.delbuttons {
	background:inherit;
	text-align:center;
	padding-bottom:4px;

}
.managehead {
	background:#0F8FE1;
	color:#000000;
	font-family:sans-serif;
	font-size:14px;
	padding:0px;
}
.postlists {
	background:#FFFFFF;
	width:100%;
	padding:0px;
	color:#000000;
}
.row1 {
	background:#9AD2F6;
	font-family:sans-serif;
	font-size:12px;
	color:#000000;
}
.row2 {
        background:#FFFFFF;
        font-family:sans-serif;
        font-size:12px;
        color:#000000;
}
.unkfunc {
	background:#C4C2EE;
	color:#FFFFFF;
}
.filesize {
	font-size:12px;
	font-family:sans-serif;
	text-decoration:underline;
	padding-left:3em;
}
.filetitle {
	background:inherit;
	font-size:18px;
	font-family:serif;
	color:#0F0C5D;
	font-weight:800;
}
.postername {
	background:inherit;
	font-size:15px;
	font-family:serif;
	color:#117743;
	font-weight:800;
}
.oldpost {
        background:inherit;
        font-size:18px;
        font-family:serif;
        color:#0F0C5D;
        font-weight:800;
}
.omittedposts {
        background:inherit;
        font-size:18px;
        font-family:serif;
        color:#070707;
        font-weight:800;
}
.reply {
	background:#D6DAF0;
	color:#000000;
	font-family:serif;
}
.doubledash {
 	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
        background:inherit;
        font-size:18px;
        font-family:serif;
        color:#0F0C5D;
        font-weight:800;
}
.commentpostername {
        background:inherit;
        font-size:15px;
        font-family:serif;
        color:#117743;
        font-weight:800;
}
.thumbnailmsg {
	background:inherit;
	font-size:9px;
	font-family:sans-serif;
	color:#000000;
}

/* board list */

.logo a {
	font-size:24pt;
	color:#AF0A0F;
	font-family:serif;
}

.category {
	font-family: sans-serif;
	font-size: small;
	margin-bottom: 8px;
	background: #D6DAF0;
}

.header {
	background: #9988EE;
	color: #0F0C5D;
	padding: 0px 3px 0px 3px;
	font-weight: bold;
}

.list {
	border-left: 1px solid #D6DAF0;
	border-right: 1px solid #D6DAF0;
	border-bottom: 1px solid #D6DAF0;
}

.list div a {
	display: block;
	text-decoration: none;
	padding: 0px 3px 0px 3px;
}

.list div a:hover {
	background: #EEF2FF;
}

/* admin posts */

.adminname {
	color: #FF0000;
}

/* rules */

.rules {
        font-size:11px;
        font-family:sans-serif;
}

.rules table {
	font-size: 11px;
	margin: 5px 0px 5px 0px;
}

.prohibition {
	color: #FF0000;
}

.prohibition ul, .info ul {
	margin: 0px;
	padding: 0px 0px 0px 20px;
}

/* title page */

.news {
	background: #D6DAF0;
	color: #0F0C5D;
	padding: 0px 3px 0px 3px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5px;
}

.greeting {
	text-align: center;
	font-weight: bold;
	color: #AF0A0F;
}

.spoiler {
	background: #C4C2EE;
	color: #C4C2EE;
}

.spoiler:hover {
	background: #C4C2EE;
	color: #000000;
}


.captcha {
	color: #AF0A0F;
	/*
	  Foreground color of the letters on pictures generated by captcha.pl.
	  Don't use comments right before declaration of this class.
	*/
}

