<!DOCTYPE html>
<html>
<head>
  <title>Твитаба – {% if type == "thread" %}тред{% else %}лента{% endif %}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
  <link rel="stylesheet" title="Futaba" type="text/css" href="/static/futaba.css">
  <link rel="alternate stylesheet" title="Burichan" type="text/css" href="/static/burichan.css">
  <link rel="alternate stylesheet" title="Gurochan" type="text/css" href="/static/gurochan.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/@nishanths/zoom.js@2.0.1/css/zoom.css">
</head>

<body>
  <div class="topmenu">
    <span class="navbar">
      [ <a title="Тред о твитабе" href="/res/1088863053083492352" target="_blank">d</a> ]
      [
        <a href="#" onclick="switchStyle('Burichan'); return false;">Burichan</a> -
        <a href="#" onclick="switchStyle('Futaba'); return false;">Futaba</a> -
        <a href="#" onclick="switchStyle('Gurochan'); return false;">Gurochan</a>
      ]
    </span>
    <span class="adminbar">
      [ <a href="https://twitter.com/git_huh" target="_blank">@git_huh</a>
      - <a href="https://github.com/notpushkin/twitaba" target="_blank">Fork on GitHub</a> ]
    </span>
  </div>

  <div class="logo">
    <a href="/"><img class="banner" alt="" src="{{ get_banner() }}" height="100" width="300"></a><br>
    Твиттор
  </div>

  {% if type == "thread" %}
    <div class="theader">Ответ</div>
    <p>[<a href="/">Назад</a>]</p>
  {% elif type == "home" %}
    <div class="postarea">
      <!-- <form id="postform" method="post" enctype="multipart/form-data">
        <table width="1%">
          <tbody>
            <tr>
              <td class="postblock"></td>
              <td>
                <input type="submit" value="Не поддерживается" disabled>
              </td>
            </tr>
            <tr>
              <td class="postblock">Сообщение</td>
              <td><textarea name="text" cols="60" rows="6"></textarea></td>
            </tr>
            <tr>
              <td class="postblock">Файл</td>
              <td><input disabled size="35" type="file"></td>
            </tr>
            <tr>
              <td class="postblock">Перейти к</td>
              <td>
                <label>[<input name="postredir" value="0" type="radio"> ленте ]</label>
                <label>[<input name="postredir" value="1" selected type="radio"> треду ]</label>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="rules">
                  <ul>
                    <li>Поддерживаются файлы типов JPG, PNG размером до 5 МБ и GIF, MP4 размером до 15 МБ.</li>
                    <li>Максимальное количество бампов треда: ∞.</li>
                    <li>Всем посетителям рекомендуется ознакомиться с <a href="/faq">FAQ</a>.</li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </form> -->
      <a class="newthread" href="https://twitter.com/intent/tweet" target="_blank">Создать тред</a>
    </div>
  {% endif %}

  <hr>

  <form id="delform" action="/delform" method="post">
    {% for thread in threads %}
      <div id="{{ thread[0].id }}">
        {{ thread[0] | renderpost(type != "thread") }}

        {% if type != "thread" %}
          {% if len(thread) > 4 %}
            <span class="omittedposts"> Пропущено {{ len(thread) - 4 }} твитов. Для просмотра нажмите "Открыть тред". </span>
          {% endif %}
        {% endif %}

        {% for reply in thread[1:][(0 if type == "thread" else -3):] %}
          <table class="reply-table" id="{{ reply.id }}">
            <tbody>
              <tr>
                <td class="doubledash">&gt;&gt;</td>
                <td class="reply">
                  {{ reply | renderpost }}
                </td>
              </tr>
            </tbody>
          </table>
        {% endfor %}
      </div><!-- /thread -->
      <br clear="left"><hr>
    {% else %}
      <p>Sorry, it seems that you've been rate limited! Try a few minutes later.</p>
    {% endfor %}
  </form>

  <p class="footer">
    - <a href="https://github.com/notpushkin/twitaba">twitaba</a>
    + <a href="https://twitter.com/">twitter</a> -
  </p>

  <script type="text/javascript">
    function switchStyle(title) {
      for (let elem of document.getElementsByTagName("link")) {
        if (elem.rel.indexOf("stylesheet") != -1 && elem.title) {
          elem.disabled = (elem.title !== title);
        }
        localStorage.setItem("stylesheetTitle", title);
      }
    }

    document.addEventListener("DOMContentLoaded", function(event) {
      const title = localStorage.getItem("stylesheetTitle");
      if (title) {
        switchStyle(title);
      }
    });
  </script>

  <!-- <script src="https://unpkg.com/@nishanths/zoom.js@2.0.1/dist/zoom.min.js" charset="utf-8"></script> -->
  <script src="/static/zoom.js" charset="utf-8"></script>
</body>

</html>
